# python
*.py[cod]
*.so
*.egg
*.egg-info
build
*venv
migrations
*.log
*.DS_Store
*._*
*.zip

# vue
_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.history

# project
avatar/
*.svg
*.tmp

